<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Pointcloud</title>
		<link href="https://fonts.googleapis.com/css?family=Space+Mono:400" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/main.css')}}">
	</head>

	<body>
		<script> 
			
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/Chart.bundle.min.js')}}"></script>
		<!--<script type="text/javascript" src ="http://threejs.org/build/three.min.js"></script>-->
		<script type="text/javascript" src ="{{ url_for('static', filename = 'js/three.js') }}">
		</script>
		<script src="{{url_for('static', filename = 'js/spectrum.js')}}"></script>
		<script type="text/javascript" 
				src ="{{ url_for('static', filename = 'js/jsonpoints.js') }}"></script>
		<div id="main-render">
		</div>


		<div class="dropdown">
		    <button id="dLabel" type="button" 
		  		  data-toggle="dropdown" 
		  		  aria-haspopup="true" 
		  		  aria-expanded="false">
		    		Select Scan
		    	<span class="caret"></span>
		    </button>
		    <ul id="scan-selector" class="dropdown-menu" aria-labelledby="dLabel">
		    			<li data = 0 ><a href='#'>LIVE<span class="glyphicon glyphicon-facetime-video" 
		    											   aria-hidden="true">
		    										</span></a>
		    			</li>
		    	{% for scan in scans %}
			    	
						<li data ={{scan}}><a href='#'>{{scan}}</a> </li> 
					
				{% endfor %}
		   </ul>
		</div>
		
		<div id="chart-div">
			<canvas id="spectrum-chart"></canvas>
		</div>

	</body>
</html>